<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.circlecube.ldsquiz"
        versionCode="140" 
        version   = "0.1.4">

    <name>LDS Quiz Lite</name>

    <description>
        This Latter-Day Saint Quiz will test your knowledge and teach you to know the apostles and prophets. Do you know your LDS Church leaders? Too often they are just a name or a face, let's put the names and faces together and learn about their teachings and examples.
    </description>

    <author href="http://circlecube.com" email="evan@circlecube.com">
        Evan Mullins 
    </author>
    <preference name="orientation" value="portrait"/>
    <preference name="fullscreen" value="true" />
    <icon src="icon-large.png" />
    <gap:splash src="splash.png" />
    <preference name="permissions" value="none"/>
</widget>